<h1><%= @member.pretty_name %></h1>

<h3>Attending classes:</h3>

<ul>
  <% @member.sessions.each do |session| %>
    <li>Title: <%=session.title%> </li>
    <li>Instructor: <%=session.instructor%> </li>
    <li>Day: <%=session.day%> </li>
    <li>Start time: <%=session.start_time%> </li>
    <br>
  <% end %>
</ul>
