<h1>Classes</h1>
<p><a href="sessions/new">Add new Class</a></p>
<table>
  <tr>
    <th>Title</th>
    <th>Instructor</th>
    <th>Day</th>
    <th>Start Time</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <% for session in @sessions %>
  <tr>
    <td><a href="sessions/<%= session.id %>"><%=session.title%></a></td>
    <td><%= session.instructor %></td>
    <td><%= session.day %></td>
    <td><%= session.start_time %></td>
    <td><a href="sessions/<%= session.id %>/edit">Edit</a></td>
    <td><form action="/sessions/<%= session.id %>/delete" method="POST"><input type="submit" value="Delete"></form></td>
  </tr>
  <% end %>
</table>
